<h2>{{ id ? 'Editar Producto' : 'Registrar Producto' }}</h2>

<input [(ngModel)]="form.nombre" placeholder="Nombre">
<input [(ngModel)]="form.stock" type="number" placeholder="Stock">
<input [(ngModel)]="form.precio" type="number" placeholder="Precio">
<input [(ngModel)]="form.estado" placeholder="Estado">
<input [(ngModel)]="form.ubicacion" placeholder="Ubicación">
<input [(ngModel)]="form.proveedorId" type="number" placeholder="Proveedor ID">

<button (click)="id ? editar() : crear()">
  {{ id ? 'Actualizar' : 'Guardar' }}
</button>